.container {
  background-color: #465981;
  border-radius: 4px;
  padding: 12px;

  .form-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0px;

    input[type="text"],
    input[type="number"] {
      background-color: #283349;
      border: none;
      font-family: "Brevia", sans-serif;
      font-size: 15px;
      padding: 4px 6px;
      border-radius: 4px;
      color: #b5c4ed;

      &::placeholder {
        color: inherit;
        font-size: 14px;
      }
    }

    .button-group {
      flex: 1;
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;

      .MuiButton-root {
        font-family: "Brevia", sans-serif !important;
      }
    }
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  line-height: 0;
  background-color: transparent;
  transition: scale 200ms ease;

  &:hover {
    scale: 0.9;
  }

  img {
    max-width: 32px;
  }
}
