.header {
  background-color: #2e7eaf;
  height: 70px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    max-height: 100%;
  }

  button {
    background-color: #f1b32e;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Brevia", sans-serif;
    font-size: 16px;
    color: #2d1f00;

    img {
      height: 24px;
    }
  }
}
