.App {
  min-height: 100vh;
  background-color: #3a3d50;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: 4rem;
  font-family: "Brevia", sans-serif;
}

.add-member {
  position: fixed;
  right: 24px;
  top: 24px;
  line-height: 0;
  padding: 12px;
  aspect-ratio: 1;
  color: #fff;
  background: #333;
  border-radius: 50%;
  font-size: 32px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  &:hover {
    background: #666;
  }
}

.form-content {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;

  .nickname {
    flex: 1 1 100%;
  }

  .atk,
  .hp {
    flex: 1 1 48%;
  }
  .button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2%;
  }
}
