@font-face {
  font-family: "Brevia";
  src: url("assets/fonts/Brevia-Bold.woff");
}

@font-face {
  font-family: "Choc";
  src: url("assets/fonts/choc.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Brevia", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.MuiButton-root {
  font-family: "Brevia", sans-serif !important;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead th {
  border-bottom: 1px solid rgba(99, 99, 99, 0.5);
}

tbody {
  display: block;
  max-height: 265px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.px25 {
  width: 25px !important;
}
.px50 {
  width: 50px !important;
}
.px75 {
  width: 75px !important;
}
.scroll-h {
  overflow-x: auto;
  text-align: left;
  &::-webkit-scrollbar {
    display: none;
  }
}
